//   /* 
//      ACA COMIENZA EL CSS 
//      DE LA PÁGINA "DESCARGA"
//   */


.mainDescarga {
    height: 800px;
    background-color: rgba(0, 128, 0, 0.406);
}

.titulomensajeDescargas {
    margin-top: 20px;
    padding-bottom: 10px;
}

.desc-pan {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(to right, #eef2f3, #8e9eab);

    transition: all 3s;
    transform-origin: center center;

    &:hover {
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
    @include bg-size-pos-repeat;
    margin: 0px;
    height: 350px;
    transition: all 3s;
    transform: scale(1.01);
    }


    .boto-descarga {
        width: 120px;
        margin-bottom: 50px;
    }
}

.img-flow {

    .des-img {
    border-radius: 10%;
    padding: 1%;
    margin-left: 25%;
    height: auto;
    max-width: 100%;
    }

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    @media (max-width: 1000px) {
        max-width: 80%;
    }
}