// COMIENZO SECCION PRODUCTOS

.jumbo-pag-prod {
    // background: #3494E6;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: #000000;
    background-image: url('../img/formulas.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0px;
    height: 850px;
    
    .prod-text {
        .prod-titu {
            background-color: rgba(255, 0, 0, 0.167);
            color: black;

        }

        .prod-titu-p {
            background-color: rgba(255, 0, 0, 0.167);
            color: black;

        }

        color: #132d00;
        background-color: #f5ffb2bd;
        padding: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border: 1px solid black;
        
        animation: fade-in 2s ease-in-out;
        animation-iteration-count: 1;

        @keyframes fade-out {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

    }
}

@for $i from 1 through 3 {
    .list-prod-#{$i} { 
        background-color: rgba(30, 193, 38, 0.705); 
        }
}

// FIN SECCION PRODUCTOS