//   /* 
//      ACA COMIENZA EL CSS 
//      DE LA PÁGINA "DESCARGA"
//   */


.mainDescarga {
    height: 800px;
    background-color: rgba(0, 128, 0, 0.406);

    .videoDescarga {
    display: inline-block;
    position: absolute;
    padding: 90px;
    border: 15px;
    top: 50px;
    left: 100px;
    }
}
