// COMIENZO SECCION PRODUCTOS

.jumbo-pag-prod {
    // background: #3494E6;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: #000000;
    background-image: url('../img/formulas.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0px;
    height: 850px;
    
    .prod-text {
    color: #132d00;
    background-color: #aaf0d6bd;
    padding: 10px;
    box-shadow: 8px 18px 28px rgba(14, 57, 65, 0.502);
    border: 1px solid black;
    
    animation: fade-in 2s ease-in-out;
    animation-iteration-count: 1;

    @keyframes fade-in {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    }
}

@for $i from 1 through 3 {
    .list-prod-#{$i} { 
        background-color: rgba(30, 193, 38, 0.705); 
        }
}

// FIN SECCION PRODUCTOS